* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    background-color: #f7f7f7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content {
    max-width:1300px;
    margin: 0px auto;
    display: flex;
    flex-flow: wrap;
}

/* column 30% section */
.col-30 {
    flex: 33.33333%;
    max-width: 33.33333%;
    float: left;
    padding: 10px;
}
.col-30-content {
    max-width: 100%;;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
}
.col-30-content img {
    width: 100%;
}

/* personal description section */
.personal-description {
    padding: 0px 20px; 
}
.personal-description , .skills, .language {
    color: gray;
}
.personal-description i {
    color: teal;
    margin-bottom: 15px;
}
.personal-description span {
    color: gray;
    margin-left: 20px;
    font-size: 0.875rem;
}


/* skills section */
.skills {
    padding: 20px;
}
.skills i {
    color: teal;
}
.skills p {
    font-size: 0.875rem;
}
.skills span {
    margin-left: 20px;
}

/* photoshop section */
.skills .adobe-ps {
    background-color: #f7f7f7;
    border-radius: 40px;
    width: 100%;
    color: white;
    font-size: 	0.6875rem;
    text-align: center;
}
.skills .adobe-ps .adobe-ps-fill {
    background-color: teal;
    border-radius: 40px;
    width: 90%;
}

/* photography section */
.skills .photography {
    background-color: #f7f7f7;
    border-radius: 40px;
    width: 100%;
    color: white;
    font-size: 	0.6875rem;
    text-align: center;
}
.skills .photography .photography-fill {
    background-color: teal;
    border-radius: 40px;
    width: 80%;
}

/* illustrator section */
.skills .illustrator {
    background-color: #f7f7f7;
    border-radius: 40px;
    width: 100%;
    color: white;
    font-size: 	0.6875rem;
    text-align: center;
}
.skills .illustrator .illustrator-fill {
    background-color: teal;
    border-radius: 40px;
    width: 75%;
}

/* media section */
.skills .media {
    background-color: #f7f7f7;
    border-radius: 40px;
    width: 100%;
    color: white;
    font-size: 	0.6875rem;
    text-align: center;
}
.skills .media .media-fill {
    background-color: teal;
    border-radius: 40px;
    width: 50%;
}

/* language section */
.language {
    padding: 20px;
}
.language i {
    color: teal;
}
.language p {
    font-size: 0.875rem;
}
.language span {
    margin-left: 20px;
}

.language .english {
    background-color: #f7f7f7;
    border-radius: 40px;
    width: 100%;
    color: white;
    font-size: 	0.6875rem;
    text-align: center;
}
.language .english .english-fill {
    background-color: teal;
    border-radius: 40px;
    max-width: 100%;
    padding: 10px;  
}
.language .spanish {
    background-color: #f7f7f7;
    border-radius: 40px;
    width: 100%;
    color: white;
    font-size: 	0.6875rem;
    text-align: center;
}
.language .spanish .spanish-fill {
    background-color: teal;
    border-radius: 40px;
    width: 50%;
    padding: 10px;  
}
.language .german {
    background-color: #f7f7f7;
    border-radius: 40px;
    width: 100%;
    color: white;
    font-size: 	0.6875rem;
    text-align: center;
}
.language .german .german-fill {
    background-color: teal;
    border-radius: 40px;
    width: 30%;
    padding: 10px;  
}

/* column 70 section */
.col-70 {
    flex: 66.66666%;
    max-width: 66.66666%;
    padding: 10px;
}

/* work experience section */
.work-experience {
    max-width: 100%;;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}
.col-70 .work-experience i {
    color: teal;
}
.col-70 .work-experience i.fa-briefcase {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.col-70 .work-experience i.fa-briefcase span {
    font-size: 	1.5rem;
    color: gray;
}
.col-70 .work-experience span {
    margin-left: 20px;
}
.col-70 .work-experience .title {
    font-weight: bold;
    color: gray;
}
.col-70 .work-experience .section-one {
    margin-bottom: 40px;
}
.col-70 .work-experience .section-two {
    margin-bottom: 40px;
}

/* wducation section */
.education {
    max-width: 100%;;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}
.col-70 .education i {
    color: teal;
}
.col-70 .education i.fa-certificate {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.col-70 .education i.fa-certificate span {
    font-size: 	1.5rem;
    color: gray;
}
.col-70 .education span {
    margin-left: 20px;
}
.col-70 .education .title {
    font-weight: bold;
    color: gray;
}
.col-70 .education .section-one {
    margin-bottom: 40px;
}
.col-70 .education .section-two {
    margin-bottom: 40px;
}

/* footer section */
footer {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: teal;
}

/* responsive section */
@media (max-width: 560px) {
    .col-30 , .col-70 {
        flex: 100%;
        max-width: 100%;
    }
}